.sidebar-container {
  height: 100vh;
  position: relative;
  color: #000;

}

.sidebar {
  width: 280px;
  height: 100%;
  position: relative;
  background-image: url("../../public/croped.jpg");
  background-size: cover; 
  background-position: center;
  transition: transform 0.3s ease;
  color: black;
}
.sidebar-container .sidebar {
  z-index: 2; 
}

.sidebar a, .sidebar p {
  color: black !important;
}



.hamburger-icon {
  display: none;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1100;
  cursor: pointer;
  color: white;
}

@media (max-width: 750px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    z-index: 1000;
  }

  .sidebar.open {
    transform: translateX(0);
  }

  .hamburger-icon {
    color: black;
    display: block;
  }
}
